*{
    margin:0%;
}
body{
    display: inherit;
    flex-wrap: wrap;
}
#body1{
    padding: 0px 130px;
}
.navbar{
    margin-top: 18px;
    border-color: green;
    text-decoration: solid;
    border-radius: 3px;
}
#nav1{
       display: flex;
       justify-content: flex;
       flex-wrap: inherit;
       position: fixed;
       z-index: 10000;
       margin-top: 0%;
       padding: 5px 130px;
       background-color: white;
}

#nav2{
    justify-content: flex;
    flex-wrap: inherit;
    display: flex;
    background-color: white;
    
    margin-top: 20px;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: red;
    }
    .dropdown-menu{
        background-color: black;
        a{
            color: white;
        }
    }
}
.carousel1{
    display: flex;
    justify-content: flex;
    flex-wrap: inherit;
}
li{
padding-right: 70px;
}
#buttondiv{
padding-top: 10px;
padding-bottom: 10px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
button{
  text-decoration: none;
  background-color: gainsboro;
  border: none;
  width: 160px;
  height: 60px;
}
button:hover{
    box-shadow: 2px 2px 12px;
}
img{
    width: 160px;
    height: 60px;
}
}

#grid1{
    padding: 20px;
    background-color: gainsboro;
    a{
        text-decoration: none;
        color: black;
    }
}

.card-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.card{
    width: 240px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    padding: 10px;
}
.card-content h3{
    font-size: 20px;
}
.card-content .savelogo{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-decoration: none;
}


.card-content .addbutton{
    color: red;
    border-color:firebrick;
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 10px;
}
.card-content .addbutton:hover{
   background-color:firebrick;
   color: white;
   box-shadow: 2px 2px 4px;
}

.card:hover{
    box-shadow: 4px 4px 12px;
}


#grid-topoffer{
    margin-top: 20px;
    a{
        text-decoration: none;
    }
}
.grid-topoffer-container{
    /* display: grid; */
   margin: 0%;
    border: none;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   text-decoration: none;
}

.grid-topoffer-container .card{
    margin-left: 0%;
    margin-right: 0%;
    background-color:firebrick;
    height: 150px;
    width: 280px;
    padding-left: 5px;
    padding-right: 0%;
    padding-top: 40px;
}
.grid-topoffer-content{
    background-color: white;
    color: black;
    font-weight: bolder;
    padding-left: 20px;
    height: 200px;
}
.grid-topoffer-container .header{
    background-color:firebrick;
    color: white;
    font-weight: bolder;
    padding-left: 20px;
}
.grid-topoffer-content button{
    text-decoration: none;
    background-color: white;
    text-align: start;
    border: none;
    margin-top: 25px;
    padding-bottom: 25px;
   
}

#fruit-vegetable{
    margin-top: 20px;
}
.container-fruit-vegetable{
    margin: 0%;
    border: none;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.container-fruit-vegetable .card{
   margin: 0%;
   width: 280px;
}


#beverages{
    margin-top: 20px;
}
.beverages-card{
    margin: 0%;
    border: none;
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.beverages-card .card{
    margin: 0%;
    width: 200px;
}

#carousel2{
    margin-top: 20px;
}

#footer{
    background-color: black;
    display: flex;
    justify-content: flex;
    flex-wrap: inherit;
    margin-top: 20px;

    a{
        text-decoration: none;
    }
}

/* .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  } */
